{% extends 'base.html.twig' %}

{% block title %}
	{{ movieFromBDD.title }}
	: Ajout de commentaire
{% endblock %}

{% block body %}
	<h1>{{ movieFromBDD.title }}</h1>
	<h2>Ajout de commentaire</h2>

	{{ form_start(formulaire, {'attr': {'novalidate': 'novalidate'}})}}
	{{ form_row(formulaire.username) }}
	{{form_row(formulaire.email)}}
	{{form_row(formulaire.content)}}
	{{form_row(formulaire.rating)}}
	{{form_row(formulaire.reactions)}}
	{{form_row(formulaire.watchedAt)}}
	<input
	type="submit" value="Ajouter">
	{{ form_end(formulaire)}}
{% endblock %}
