{% extends 'base.html.twig' %}

{% block title %}Review Index
{% endblock %}

{% block body %}

{% include 'back/partials/_table.html.twig' with { 'entity' : 'review' } %}

<thead class="table-info">
	<tr>
		<th>Id</th>
		<th>Username</th>
		<th>Email</th>
		<th>Content</th>
		<th>Rating</th>
		<th>Reactions</th>
		<th>WatchedAt</th>
		<th>actions</th>
	</tr>
</thead>
		<tbody>
			{% for review in reviews %}
				<tr>
					<td>{{ review.id }}</td>
					<td>{{ review.username }}</td>
					<td>{{ review.email }}</td>
					<td>{{ review.content }}</td>
					<td>{{ review.rating }}</td>
					<td>{{ review.reactions ? review.reactions|json_encode : '' }}</td>
					<td>{{ review.watchedAt ? review.watchedAt|date('Y-m-d H:i:s') : '' }}</td>
					{% include 'back/partials/_tableButtons.html.twig' with { 'entity' : 'review', 'id' : review.id }  %}
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
