{% extends 'base.html.twig'%}

{% block body %}

    <div class="container bg-light pt-5">

        <div class="row mb-2">

            <div class="col">

                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row align-items-start mb-4 shadow-sm position-relative">
                    <div class="col-4 movie__poster img-thumbnail"
                        style="background-image: url({{ movieForTwig.poster }});">
                        <img src="{{ asset('images/poster-placeholder.png') }}" class="img-fluid">
                    </div>

                    <div class="col-8 p-4 d-flex flex-column position-static bg-light">
                        
                        {% include "front/partials/_favorites.html.twig" with {'movieIDForPartial': movieForTwig.id}  %}

                        <strong class="d-inline-block mb-2 text-primary">{{ movieForTwig.type.name }}</strong>
                        <h3 class="mb-1">{{ movieForTwig.title }}</h3>
                        <div class="mb-1 text-muted">{{ movieForTwig.duration }} min</div>
                        <p>
                            {% for genre in movieForTwig.genres %}
                                <span class="badge bg-warning text-dark">{{ genre.name }}</span>
                            {% endfor %}
                            
                        </p>
                        <p>{{ movieForTwig.synopsis }}
                        </p>
                        
                        {% include 'front/partials/_stars.html.twig' with {'ratingStars': movieForTwig.rating} %}
                        
                        {% if movieForTwig.type.name == 'série' %}
                            <h2>{{ movieForTwig.seasons|length }} {{ movieForTwig.seasons|length > 1 ? 'Saisons' : 'Saison' }}</h2>
                            <ul class="list-unstyled">
                                {% for season in movieForTwig.seasons %}
                                    <li><span class="badge bg-danger fs-6 mb-2">Saison {{ season.number }}</span><small class="ms-1">({{ season.nbEpisodes }} épisodes)</small></li>
                                {% endfor %}
                                
                                
                            </ul>
                        {% endif %}
                        <dl class="row">
                            <dt class="col-sm-12">Avec (Sort Twig)</dt>
                            <dd class="col-sm-12">
                            {% set sortedCastings = movieForTwig.castings|sort((casting1, casting2) => casting1.creditorder <=> casting2.creditorder) %}
                                {% for casting in sortedCastings %}
                                    {{ casting.person.firstname }} {{ casting.person.lastname }} ({{ casting.role }}) ({{ casting.creditOrder }})<br>
                                {% endfor %}
                            </dd>
                            <dt class="col-sm-12">Avec (From BDD)</dt>
                            <dd class="col-sm-12">
                                {% for casting in allCastingFromBDD %}
                                    {{ casting.person.firstname }} {{ casting.person.lastname }} ({{ casting.role }}) ({{ casting.creditOrder }})<br>
                                {% endfor %}
                                
                            </dd>
                            <dt class="col-sm-12">Pays</dt>
                            <dd class="col-sm-12">{{ movieForTwig.country }}</dd>
                            <dt class="col-sm-12">Année</dt>
                            <dd class="col-sm-12">{{ movieForTwig.releaseDate|date("Y") }}</dd>
                        </dl>
                        <div class="d-flex mb-4">
                            <a href="{{ path('app_review_add', {'id':movieForTwig.id})}}" class="btn btn-primary">Ajouter un commentaire</a>
                        </div>
                        
                        <div class="col-12 p-4 d-flex flex-column position-static bg-light">
                            <dl class="row">
                                {% for review in allReviewFromBDD %}

                                <dt class="col-sm-12">Critiques de {{ review.username }}</dt>
                                {% include 'front/partials/_stars.html.twig' with {'ratingStars': review.rating} %}
                        
                                        <em><p class="card-text">{{ review.content}}</p>
                                        <p class="card-subtitle mb-2 text-muted">Vu le {{ review.watchedAt|date('d-m-Y') }}<p></em>

                                    </div>
                                    </div>

                                <dd class="col-sm-12">
                                
                                        {{ review.username }} a regardé <em>{{ movieForTwig.title }}</em> le {{ review.watchedAt|date('m/d/Y')}}:  <br> 
                                        {{ review.content}} <br>
                                        <div> 
                                        {% for reaction in review.reactions %} 
                                            <span class="badge bg-info text-dark">{{ reaction }}</span> 
                                        {% endfor %} 
                                        </div>
                                {% else %}
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                        <p><span class="ps-1">Ce film n'a pas encore de critique<p></span>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                                </dd>
                                
                            </dl>

                        </div>      
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}